---
import Navigation from "@components/shared/header/Navigation.astro";
---

<div class="py-8 flex gap-4 flex-row items-start font-bold">
  <div class="md:mr-auto text-center md:text-left text-4xl">
    <a class="hover:text-amber-500" href="/">EXPEDITION</a>
  </div>
  <Navigation />
</div>
