---
import NavItem from "@components/shared/header/NavItem.astro";
---

<div class="flex gap-4 flex-wrap">
  <NavItem title="Home" url="/" />
  <NavItem title="Projects" url="/projects" />
  <NavItem title="Contact" url="/contact" />
</div>
