---
import MobileNavLink from "./MobileNavLink.astro"
---
<div class="mobile-nav hidden absolute w-full overflow-hidden min-h-screen left-0 top-0 bg-[#000000C0] z-20">
  <div class="flex flex-col container mx-auto min-h-screen justify-center items-center gap-4 px-4">
    <MobileNavLink title="Home" url="/" />
    <MobileNavLink title="Projects" url="/projects" />
    <MobileNavLink title="Contact" url="/contact" />
  </div>
</div>