---
interface Props {
  title: string;
  hideTitle?: boolean;
}

const { title, hideTitle } = Astro.props;
import Header from "../components/shared/header/Header.astro";
import Footer from "../components/shared/footer/Footer.astro";
import Heading from "@components/shared/Heading.astro";
import Divider from "@components/shared/Divider.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Expedition :: {title}</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="container mx-auto px-4 flex flex-col min-h-screen bg-amber-600 text-stone-900 dark:bg-stone-900 dark:text-stone-100"
  >
    <Header />
    <div class="mb-auto">
      {
        !hideTitle && (
          <div>
            <Heading>{title.toUpperCase()}</Heading>
            <Divider />
          </div>
        )
      }
      <slot />
    </div>
    <Footer />
  </body>
</html>
